@charset "UTF-8";

//h1,h2など、クラス名をつけない要素の装飾

html,body {
	height: 100%;
	margin: 0;
}

body {
	display: block;
	width: 100%;
	position: relative;
	height: auto;
}

body,p,h1,h2,li, {
	font-family:'Lucida Grande',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 Meiryo, メイリオ, sans-serif;
 	margin: 0;
}

h1 {
	font-weight: bold;
	color: white;
	font-size: 18px;
}

h2 {
	font-weight: bolder;
	font-size: 16px;
}

h3 {
	font-weight: bolder;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #222;
}

 dd,dt {
 	margin: 0;
 	display: inline-block;
 }

 dd {
 	 	font-size: 16px;
 }
 dt {
 	font-size: 16px;
 }

p {
	font-size: 16px;
	line-height: 1.3em;
}
