@charset "UTF-8";

#Wrap {
	display: block;
	max-width: 1200px;
	background: white;
	margin:50px auto;
	width: 100%;
	@media (max-width: 767px){
		margin: 0 auto;
	}
}


#MainColumn {
	width: 90%;
	margin: 0 auto;
	@media (max-width: 767px){
		width: 98%;
	}
}

h1 {
	font-weight: bold;
	color: white;
	font-size: 18px;
}

#MainColumn h2 {
	text-align: center;
	line-height: 1.3em;
}

.contents-rows__page-title{
	margin:40px auto 10px;
	background-color: $Color_theme;
	padding: 10px;
}

.content__page-title{
	margin:20px auto;
	background-color: $Color_theme;
	padding: 10px;
	color: white;
}

.page-title{
	color: white;
}

#MainContent {
	display: block;
	height: auto;
	/*box-shadow: 0px 3px 7px 3px #eee;*/
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
	position: relative;
}

#MainContent p {
	margin: 0;
	display: inline;
}

#MainContent .SubColumn {
	display: inline-block;
	float: left;
	width: 50%;
}

#MainContent .SubColumn img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	box-shadow: 5px 3px 10px 0px #222;
}

#MainContent .SubColumn dt {
	margin-bottom: 3px;
}

#MainContent #HotelInfo {
	float: left;
}

#MainContent #AccessInfo {
	list-style: none;
	padding-left: 0px;
}

#MainContent #AccessInfo dt {
	width: 60px;
	text-align: left;
}

#MainContent #AccessInfo dd:before {
	content: ":";
	letter-spacing: 10px;
}

.google-maps{
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow:hidden;
}

.google-maps iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.room-img img{
	margin-bottom: 20px;
}

.room-details-table {
	width: 100%;
}

.room-details-table tr{
	display: flex;
	border: solid #ddd 2px;
	@media (max-width: 767px){
		display: block;
	}
}

.room-details-head {
	background-color: $Color_theme_2;
	color: white;
	padding:20px;
	font-weight: bold;
	width: 25%;
	font-size: 18px;
	line-height: 45px;
	@media (max-width: 767px){
		display: block;
		width: 100%;
	}

}

.room-details-data{
		display: block;
		width: 70%;
		font-size: 16px;
		line-height: 65px;
		padding: 10px;
		@media (max-width: 767px){
			width: 100%;
		}
}
