@charset "UTF-8";


.header {
	background-color: $Color_theme;
	color: white;
	display: block;
	width: 100%;
}
.header-contents{
	padding: 20px 40px;
	width: 80%;
	margin: 0 auto;

}

.header-contents__block{
	color: white;
	display: inline-block;
}

.header__logo{
	width: 40%;
  float: left;
}

.header__logo img{
	width: 80%;
}

.header__tel{
	float: right;
	width: 40%;
}

.header__tel p{
	text-align: right;
}

.navi {
	width: 100%;
	height: 60px;
}

.navi_contents{
	width: 80%;
}

.navi .header-contents__block {
	float: left;
}
