@charset "UTF-8";


.header {
	background-color: $Color_theme;
	color: white;
	display: block;
	width: 100%;
}
.header-contents{
	padding: 20px 40px;
	width: 65%;
	margin: 0 auto;

}

.header-contents__block{
	color: white;
	font-size: 14px;
	//@mediaでwidthによってfont-size可変にする
}

.header__logo{
	width: 40%;
  float: left;
}

.header__logo img{
	width: 80%;
}

.header__tel{
	float: right;
	width: 40%;
	//@mediaでwidthによって、telを隠す
}

.header__tel img{
	float: right;
	width: 80%;
}


.navi {
	background-color: $Color_theme_2;
	height: 60px;
	width: 100%;
}

.navi .current{
	background-color: white;
	color: $Color_theme;
}

.navi_contents{
	display: flex;
	margin: 0 auto;
	height: 100%;
	width: 80%;
}


.navi_contents .header-contents__block:hover{
	background-color: white;
	color: $Color_theme;
}
