@charset "UTF-8";

//宣言系はこちらに記述。固有のカラーなども。

$Color_theme : #164a84;
$Color_theme_2 : #007bbb;

@media (min-width: 100px) {
  html {
    font-size: 8px
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    line-height: 1.2em;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
    line-height: 1.2em;
  }
}
